:root {
    --color-primary: #4b193c;
    --color-secondary: #194b41;
    --color-light: #f5f8f0;
    --color-shadow: rgba(0, 0, 0, 0.25);
    --shadow-x: 1.5vmin;
    --shadow-y: 2vmin;
    --shadow-blur: 1.5vmin;
    --start-hover-transition-delay: 200ms;
    --choice-hover-transition-delay: 100ms;
    --choice-selectable-transition-delay: 150ms;
    --select-flash-transition-delay: 350ms;
}

body, button {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    user-select: none;
}
