.Start {
    text-align: center;
    background: linear-gradient(45deg, var(--color-primary), var(--color-secondary));
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-light);
    text-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-blur) var(--color-shadow);
}

.Start-logo {
    font-size: 40vmin;
    pointer-events: none;
    line-height: 1;
}

.Start-text {
    font-size: 7vmin;
    margin: 5vmin;
    max-width: 100vmin;
}

.Start-button {
    cursor: pointer;
    font-size: 7vmin;
    font-weight: bolder;
    color: var(--color-primary);
    background-color: var(--color-light);
    padding: 2vmin;
    min-width: 40vw;
    border: none;
    border-radius: 1vmin;
    box-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-blur) var(--color-shadow);
    transition: transform var(--start-hover-transition-delay) ease-in-out;
}
.Start-button:hover {
    transform: scale(1.25);
}

.Start-log {
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 5vmin;
    font-weight: bolder;
    margin: 2vmin;
    transition: transform var(--start-hover-transition-delay) ease-in-out;
}
.Start-log:hover {
    transform: scale(1.25);
}


@media (prefers-reduced-motion: no-preference) {
    .Start-logo {
        animation: Start-logo-spin infinite 20s linear;
    }
}

@keyframes Start-logo-spin {
    from {
        transform: rotate(0deg);
        text-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-blur) var(--color-shadow);
    }
    25% {
        text-shadow: var(--shadow-y) calc(-1 * var(--shadow-x)) var(--shadow-blur) var(--color-shadow);
    }
    50% {
        text-shadow: calc(-1 * var(--shadow-x)) calc(-1 * var(--shadow-y)) var(--shadow-blur) var(--color-shadow);
    }
    75% {
        text-shadow: calc(-1 * var(--shadow-y)) var(--shadow-x) var(--shadow-blur) var(--color-shadow);
    }
    to {
        transform: rotate(360deg);
        text-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-blur) var(--color-shadow);
    }
}
